@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap';
@import 'https://malscraper.azurewebsites.net/covers/anime/myuwi/presets/dataimagelinkbefore';
@import 'https://malscraper.azurewebsites.net/covers/manga/myuwi/presets/dataimagelinkbefore';

:root {
    --blue: #3db4f2;

    --accent: var(--blue);

    --body: #edf1f5;
    --light: #fafafa;

    --gray: #5c728a;
    --gray-light: #9299a1;

    --grid-item-width: 150px;
    --grid-item-height: 215px;
}

* {
    box-sizing: border-box;
}

*:not(.fa) {
    font-family: 'Roboto', sans-serif !important;
}

body {
    font-size: 13px !important;
    background-color: var(--body);
    position: relative;
}

/* body[data-owner-name]::before {
    content: attr(data-owner-name) ' ';
} */

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none !important;
    outline: none !important;
    color: var(--accent);
}

/* Disable useless elements */
#list-container div[style*='padding-top'],
table.list-table tbody:first-child {
    display: none !important;
}

/* Make stuff transparent and remove borders */
#list-container,
.status-menu-container,
.list-table {
    border: 0;
    background: transparent;
}

.header {
    height: 75px;
    background: rgba(35, 38, 67, 0.5);
    margin: 0;
    transition: background ease 800ms;
    z-index: 200;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    grid-template-columns: 1fr 525px 525px 1fr;
    display: grid;
    align-items: center;
}

.header:hover {
    background: #2b2d42;
}

.header-menu {
    position: static !important;
    grid-column-start: 3;
    grid-row-start: 1;
}

a.header-title {
    position: static !important;
    grid-column-start: 2;
    grid-row-start: 1;

    background-size: auto 28px !important;
    height: 28px !important;
    width: 170px !important;
}

#list-container {
    display: grid;
    grid-template-columns: 180px auto;
    grid-column-gap: 40px;

    margin: 0 auto;
    padding: 375px 100px 0;

    max-width: 1520px;
    width: 100%;

    position: static;
}

#list-container::before {
    content: 'Log in to see list controls';
    height: 45px;
    width: 100%;
    display: flex;
    background: var(--light);
    position: absolute;
    top: 330px;
    left: 0;
    align-items: center;
    justify-content: center;
    font-size: 13px !important;
    font-weight: 500 !important;
    color: var(--gray);
}

/* Cover Image */
.cover-block {
    height: 330px;
    position: absolute;

    width: 100%;
    overflow: hidden;

    top: 0;
    left: 0;
}

.cover-block .image-container {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
}

.cover-block .image-container img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    min-height: 330px;
    height: 100%;
}

/* List menu float (Cover toolbar) */
.list-menu-float {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    background: var(--light);

    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
    border: 0;
    z-index: 200;
}

/* Disable Profile Icon */
.list-menu-float .icon-menu.profile,
.list-menu-float .icon-menu.setting,
.list-menu-float .icon-menu.export,
.list-menu-float form {
    display: none;
}

.list-menu-float .icon-menu {
    width: unset !important;
    background: transparent !important;
    height: unset !important;
}

.list-menu-float .icon-menu svg {
    display: none;
}

.list-menu-float .icon-menu .text {
    width: unset !important;
    opacity: 1;
    position: static;
    color: var(--gray);

    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    margin: 0 12px;
    padding: 15px;
}

/* Link Hover */
.list-menu-float .icon-menu .text:hover,
/* Highlight Anime or Manga */
body.anime  .list-menu-float .icon-menu.anime-list .text,
body.manga  .list-menu-float .icon-menu.manga-list .text {
    color: var(--accent);
}

/* Side Container with lists and search */
.status-menu-container {
    height: calc(100% - 200px);
    position: static !important;
    top: 0;
    left: 20px;
    width: 180px;
}

.status-menu-container .status-menu {
    display: flex !important;
    flex-flow: column nowrap;
    top: 0;
    position: sticky !important;
    margin: 0;
    width: 180px;
    padding-top: 40px;
}

/* Side button */
.status-menu-container .status-menu .status-button {
    display: flex;
    color: var(--gray-light);
    transition: background ease-in-out 200ms, color ease-in-out 200ms;

    display: flex;
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    padding: 5px 10px;
}

/* Side button active */
.status-menu-container .status-menu .status-button.on {
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 3px;
    color: var(--gray) !important;
    font-weight: 500;
}

/* Lists text */
.status-menu-container .status-menu .status-button.all_anime {
    margin-top: 25px;
}

.status-menu-container .status-menu .status-button.all_anime::before {
    content: 'Lists';
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif;
    display: block;
    color: var(--gray-light);
    position: absolute;
    top: -25px;
    left: 0;
}

/* Disable underlines */
.status-menu-container .status-menu .status-button::after {
    display: none;
}

/* Search */
.status-menu-container .status-menu .search-container {
    display: flex;
    position: unset;
    /* Search first */
    order: -1;
    margin-bottom: 20px;
}

.status-menu-container .search-container #search-box {
    width: 180px !important;
    margin: 0;
    height: 40px;
    overflow: visible;
    position: relative;
}

.status-menu-container .search-container #search-box:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 17.5px;
    background-image: url(https://dl.dropbox.com/s/gb6lo8p695zt63e/search-1.svg);
    width: 12px;
    height: 12px;
    background-size: 12px 12px;

    transition: opacity ease-in-out 200ms;
    opacity: 0.5;
}

.status-menu-container .search-container #search-box:focus-within:before {
    opacity: 1;
}

.status-menu-container .search-container #search-box input {
    width: 180px !important;
    padding: 0 15px 0 35px;
    height: 40px;
    font-size: 14px !important;
    color: var(--gray-light);
    border: 0;
    outline: 0 !important;
    background: transparent;

    border-radius: 4px;
    background-color: #fafafa;

    transition: box-shadow ease-in-out 200ms, color ease-in-out 200ms;
}

.status-menu-container .search-container #search-box input:focus {
    box-shadow: 0 1px 10px 0 rgba(49, 54, 68, 0.15);
    color: var(--gray);
}

/* Disable original magnifying glass */
.status-menu-container .search-container #search-button {
    display: none;
}

/* List Block */
.list-block {
    margin: 40px 0 0 !important;
}

.list-unit {
    width: 100%;

    /* padding: 40px 20px 20px 240px; */
}

/* List Status (e.g. All Anime, Completed) */
.list-unit .list-status-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    height: 60px;
    width: auto;
}

/* Replaced with .list-status-title::before because this is in all caps for some reason */
.list-unit .list-status-title .text {
    display: none;
}

.list-unit .list-status-title::before {
    color: var(--gray);
    font-size: 18px;
}

body.anime .list-unit.all_anime .list-status-title::before {
    content: 'All Anime';
}
body.anime .list-unit.watching .list-status-title::before {
    content: 'Currently Watching';
}
body.anime .list-unit.completed .list-status-title::before {
    content: 'Completed';
}
body.anime .list-unit.onhold .list-status-title::before {
    content: 'On Hold';
}
body.anime .list-unit.dropped .list-status-title::before {
    content: 'Dropped';
}
body.anime .list-unit.plantowatch .list-status-title::before {
    content: 'Plan to watch';
}

body.manga .list-unit.all_anime .list-status-title::before {
    content: 'All Manga';
}
body.manga .list-unit.reading .list-status-title::before {
    content: 'Currently Reading';
}
body.manga .list-unit.completed .list-status-title::before {
    content: 'Completed';
}
body.manga .list-unit.onhold .list-status-title::before {
    content: 'On Hold';
}
body.manga .list-unit.dropped .list-status-title::before {
    content: 'Dropped';
}
body.manga .list-unit.plantoread .list-status-title::before {
    content: 'Plan to read';
}

/* Stats */
.list-unit .list-status-title .stats #show-stats-button {
    display: none;
}
/* Advanced Filter */
.list-unit .list-status-title .stats {
    position: absolute;
    top: -20px;
    right: 0;
}

.list-unit .list-status-title .stats #advanced-options-button {
    font-size: 0;
    line-height: 0;
}

.list-unit .list-status-title .stats #advanced-options-button i.fa {
    display: flex;
    font-size: 18px;
    line-height: 1em;
    padding: 10px 13px;
    transition: color ease-in-out 200ms;
    color: var(--gray);
    background: var(--light);
    border-radius: 4px;
}
.list-unit .list-status-title .stats #advanced-options-button i.fa:hover {
    color: var(--accent);
}

/* List */
table.list-table {
    display: grid;
    position: relative;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: start;
}

.list-item {
    display: flex;
    flex-flow: column nowrap;

    height: var(--grid-item-height);
    width: var(--grid-item-width);

    color: #fff;

    position: relative;
    overflow: hidden;

    border-radius: 3px;
    box-shadow: 0 2px 20px rgba(49, 54, 68, 0.2);
}

.list-table-data {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    justify-content: flex-end;
    width: 100%;
}

.list-table .list-table-data .data {
    border: 0;
    padding: 0;
}

/* Cover Image */
.data.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.data.image a {
    display: flex;
    flex: 1 0 auto;
}

.data.image a:before {
    content: '';
    z-index: 100;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center !important;
}

.data.image a img {
    z-index: 90;
}

.data.image a:before,
.data.image a img {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--grid-item-height) !important;
    width: var(--grid-item-width) !important;
}

/* Title */
.list-table .list-table-data .data.title {
    display: flex;
    z-index: 110;
    width: 100%;
    padding: 12px;
    padding-bottom: 35px;
    background: rgba(31, 38, 49, 0.8);
}

/* Title Link */
.list-table .list-table-data .data.title a.link.sort {
    color: #fff;
    transition: color ease-in-out 200ms;
    font-weight: 400;
    font-size: 13px !important;
}

.list-table .list-table-data .data.title a.link.sort:hover {
    color: var(--accent);
}

/* Watch PV Icon */
.list-table .list-table-data .data.title a.icon-watch {
    display: none;
}

/* Rewatching etc. */
.list-table .list-table-data .data.title .rewatching,
.list-table .list-table-data .data.title .rereading,
.list-table .list-table-data .data.title .content-status {
    display: none;
}

.list-table .list-table-data .data.title .add-edit-more {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    margin: 0;
}

/* More */
.list-table .list-table-data .data.title .add-edit-more .more {
    display: none;
}

/* Edit */
.list-table .list-table-data .data.title .add-edit-more .edit {
    position: absolute;
    top: 6px;
    right: 5px;
    border-radius: 3px;
    background-color: var(--accent);
    padding: 4px 5px;
    font-size: 12px;
    line-height: 12px;

    transition: opacity ease-in-out 200ms;
    opacity: 0;
}

.list-table .list-table-data:hover .data.title .add-edit-more .edit {
    opacity: 1;
}

.list-table .list-table-data .data.title .add-edit-more .edit a {
    font-size: 12px;
    color: #fff;
}

/* Episode/Chapter Count and Score */
.list-table .list-table-data .data.progress,
.list-table .list-table-data .data.chapter,
.list-table .list-table-data .data.score {
    position: absolute;
    bottom: 12px;
    z-index: 110;
    color: var(--accent);
}

.list-table .list-table-data .data.progress a,
.list-table .list-table-data .data.chapter a,
.list-table .list-table-data .data.score a {
    color: var(--accent);
}

/* Episode/Chapter Count */
.list-table .list-table-data .data.progress,
.list-table .list-table-data .data.chapter {
    left: 12px;
    text-align: left !important;
}

/* Input */
.list-table .list-table-data .data.progress input,
.list-table .list-table-data .data.chapter input {
    border-radius: 2px;
    border: 0;
    outline: 0;
    margin-right: 2px;
    padding: 2px 4px;
    font-size: 12px;
}

/* Plus Icon */
.list-table .list-table-data .data.progress .icon-add-episode,
.list-table .list-table-data .data.chapter .icon-add-chapter {
    margin-left: 4px;
}

/* Score */
.list-table .list-table-data .data.score {
    position: absolute;
    right: 12px;
    text-align: right !important;
}

.list-table .list-table-data .data.score .link {
    font-weight: 400;
    font-size: 13px;
}

/* Select */
.list-table .list-table-data .data.score select {
    border-radius: 2px;
    border: 0;
    outline: 0;
    margin-right: 2px;
    padding: 2px 4px;
    font-size: 12px;
}
